extends ../../layout/default.pug

block title
  title adminManage

block append style
  link(type="text/css" rel="stylesheet" href="/admin/index.css")

block append script
  script(src="/admin/index.js")

block content
  div#app
