extends ../../layout/default.pug

block title
  title Contacts List

block append style
  link(type="text/css" rel="stylesheet" href="/list/index.css")

block append script
  script(src="/list/index.js")

block content
  div#app
